@model ApplicationUser


@{
    ViewData["Title"] = "Delete User";
}

<h2>@ViewData["Title"].</h2>
<h3>User will be deleted, are you sure?</h3>

<br/>

<dl class="dl-horizontal">
    <dt>
        Username:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.UserName)
    </dd>
</dl>

<!-- Without Ajax -->
@*@using (Html.BeginForm("Delete","Users", new {id = Model.Id}, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to Users List", "UsersList")
    </div>
}*@

<div>
    <input type="hidden" name="id" id="userid" value="@Model.Id"/>
    <input type="submit" id="delete" value="Delete" class="btn btn-default"/> |

</div>
<div id="error" class="danger"></div>

<script>
    document.getElementById("delete").addEventListener("click", deleteUser);

    function deleteUser() {
        var id = document.getElementById("userid").value;
        var xmlhttp = new XMLHttpRequest();

        xmlhttp.open("POST", '@Url.Action("Delete", "Users")/' + id, true);
        xmlhttp.send();

        xmlhttp.onreadystatechange = function () {

            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                location.replace("/");
            } else {
                document.getElementById("error").innerHTML = "Error, can't delete user.";
            }
        };
        

    }
</script>